* {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-color:#67D4D2;
}

/* Nav bar  */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 69;
}
.nav-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #5FC2C1;
}

.arrow-container {
  margin-top: 10px;
  margin-left: 15px;
}

.burger-container {
  margin-top: 10px;
  margin-right: 15px;
}

.nav-title {
  font-size: 2rem;
  color: #67D4D2;
}


/*--------*/


/* Entry List aka Home feed */
.entry-list-time  {
  font-size: 1.20rem;
}

/*--------*/

.card-container{
  border: solid 5px rgb(105, 105, 105);
  border-width: thin;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}

.stats-container {
  height: 80vh;
  width: 100vw;
}
/* Card Item  */

.entry-list-item-mood {
  width:  40px;
}

.card-container {
  padding-bottom: 5%;
}

.button-styling-remove {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
.dropdown {
  width: 20px;
  height: 20px;
  margin: 1rem, 5px;
}
.menu-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  margin-right: 20px;
  margin-top: 5px;
  height: 30px;
}

.info-container{
  display: flex;
  margin-left: 25px;
}

.image-container{
  margin-right: 5%;
  margin-left: -10px;
}

.note-container {
  width: 77%;
}

.event-with {
  font-size: 14px;
  color: #7B7B7B;
}

.event-partic-container {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px dashed rgb(202, 202, 202);
  border-bottom: 1px dashed rgb(202, 202, 202);
}

.entry-hour {
  color: #67D4D2 ;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/*--------*/

/* Bottom nav */
.cutoff-fix{
  padding-bottom: 70px
}

.nav {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  width: 100%;
  height: 55px;
  border-top: 2px solid #5FC2C1;
  margin-top: 20px;
}
.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.add-entry-button {
  position: relative;
  top: -10px;
}

.button-icon  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  width: 61px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid #5FC2C1;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}

.menu-hover {
  cursor: pointer;
}

/*--------*/


/* Entry Form date and mood */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.date {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.add-field-container-start  {
  margin-left: 20px;
}

.add-field-container  {
  margin-left: auto;
}

.add-field  {
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.add-field-text {
  color: white;
  font-size: 1.25rem;
  margin-left: 20px;
}

.form-margin-fix  {
  margin-left: 0px;
}

.hover-pointer:hover{
  cursor: pointer;
}

.date-and-mood  {
  margin-top: 10px;
  justify-content: center;
  padding-bottom: 70px;
}

.h1-form  {
  width: 100%;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.entry-date-container {
  display: flex;
}

.date-choice, .time-choice  {
  display: flex;
  align-items: center;
}

.time-choice  {
  margin-left: 15px;
}

.mood-chooser {
  background-color: white;
  justify-content: space-around;
  padding: 10px 0;
  margin: 30px 0px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}

.mood-svg {
  max-height: 55px;
}

.laugh  {
  color: #FFB800;
  fill: green;
}

.smile  {
  color: #24FF00;
}

.meh  {
  color: #414141;

}

.frown {
  color: #3A89FF;
}

.angry  {
  color: #FF0000;
}

/* event journal */
.participants-container {
  width: 100%;
  padding-top: 1rem;
  margin-top: 30px;
  min-height: 150px;
  background-color: white;
  border-width: thin;
  border-radius: 10px;
  border: solid 1px rgba(105, 105, 105, 0.25);
    -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}
.participants-submit {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.participants-input {
  width: 90%;
  border-radius: 10px;
  border: 1px solid #B9B9B9;
  box-shadow: inset 1px 1px 0px 0px #B9B9B9;
}
.notes-container {
  width: 100%;
  padding-top: 1rem;
  margin-top: 30px;
  min-height: 150px;
  background-color: white;
  border-width: thin;
  border-radius: 10px;
  border: solid 1px rgba(105, 105, 105, 0.25);
    -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}
.notes-submit {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.notes-input {
  width: 90%;
  height: 40%;
  border-radius: 10px;
  border: 1px solid #B9B9B9;
  box-shadow: inset 1px 1px 0px 0px #B9B9B9;
}
.event-container{
  width: 100%;
  background-color: white;
  border-width: thin;
  border-radius: 10px;
  border: solid 1px rgba(105, 105, 105, 0.25);
    -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}

.svg-icons {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.svg-icons:hover {
  cursor: pointer;
}

.icon-and-label {
  width: 75px;
}

.event-label  {
  width: 100%;
  font-size: .8rem;
}

.category-container {
  margin-top: 10px;
}

.first-category-container, .category-container {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed rgb(226, 226, 226);
}

.check-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 15px;
}

/* Modal styling */

.modal-header{
  display: flex;
  justify-content: center;
}

.modal-body {
  display: flex;
  justify-content: center;
  margin-right: 15px;
  padding: 0%;
  margin-top: 10px;
}

.modal-body-days {
  display: flex;
  justify-content: center;
  margin-right: 15px;
  padding: 0%;
  padding-top: 5%;
  margin-top: 10px;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

h6 {
  margin-left: 15px;
}

.modal-title {
  color: #67D4D2 ;
}

.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    transition: all .8s;
    width:50vh;
    margin-bottom: 20px;
    border-radius: 10px;
}

.modal-footer {
  justify-content: center;
}

.drop-title {
  text-align: center;
  margin-right: 10px ;
    color: #67D4D2 ;
    margin-top: 10px;
}

.mood-modal {
  max-height: 35px;
  margin-left: 20px;
}

.selected-filter {
  border: solid 2px #67d4d2;
  border-radius: 20px;
  padding: 5px;
}

.modal-container {
  margin-top: 20px;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 1;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 6px 6px;
  overflow: hidden;
  position:fixed;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.8s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {bottom:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {bottom:0; opacity:1}
}

.select-modal  {
  width: 200px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: white;
  outline: none;
}

.clear-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* -------- */

.invert-event {
  border: 2px solid #67D4D2 ;
  border-radius: 15px;
}

/* add event css */
.selected-event {
  width: 50px;
  filter: invert(1);
}

.selected-event-text  {
  margin-left: 20px;
  color: white;
  font-size: 1.5rem;
}

.selected-event-span, .margin-left-10{
 margin-left: 10px
}

.submitted-block {
  max-width: 80%;
  display: inline-block;
  margin-left: 10px;
}


.selected-participants, .selected-note  {
  max-width: 70%;
  color: white;
  font-size: 1.5rem
}

/* Event Details page with submitted entries*/
.submitted-events {}

.submit-entry {
  border-radius: 15px;
  background-color: white;
  color: black;
  font-weight: 800;
  width: 40%;
  border: 2px solid #5FC2C1;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}

.submit-entry:hover{
  background-color: #67D4D2;
  color: black;
  border: 2px solid white;
}

/* calendar */
.ecstatic {
  background-image: url("/images/moods/laugh-beam-regular.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;

}
.happy {
  background-image: url("/images/moods/smile-regular.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}
.meh {
  background-image: url("/images/moods/meh-regular.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}
.bad {
  background-image: url("/images/moods/frown-regular.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}
.terrible {
  background-image: url("/images/moods/angry-regular.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}


/*   home page      */
.homepage-container {
  height: 100vh;
  background-image: url('/images/photos/background-image-bw-scaled.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homepage-elements  {
  height: 100%;
  opacity: 100%;
  z-index: 100;
}

.logo-container {
  margin-top: 25%;
}
.app-name-container {
  z-index: 100;
  margin-top: 10%;
}

.start-button-container {
  z-index: 100;
  margin-top: 50%;
}

.start-button {
  width: 140px;
  height: 55px;
  font-size: 1.25rem;
  border-radius: 15px;
}

.start-button:hover {
  cursor: pointer;
}

.logo-background {
  z-index: 100;
  width: 150px;
  height: 150px;
  background-image: url('/images/photos/logo-background.svg');
  background-size: contain;
  background-repeat: no-repeat;

}

.home-overlay {
  position:fixed;
  height: 100%;
  width: 100%;
  background-color: #67D4D2;
  z-index: 0;
  opacity: 80%;
}

/* Logo animation */
.logo {
  width: 20%;
  transform: scale(1);
}

.logo-animate {
  animation-name: grow;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0%  {
    transform: scale(0);
  }
  70%  {
    transform: scale(1.5);
  }
  80%  {
    transform: scale(.75);
  }
  90%  {
    transform: scale(1.15);
  }
  100%  {
    transform: scale(1);
  }
}

.heading-content-animation {
  animation: animationFrames linear 0.8s;
  animation-iteration-count: 1;
  animation-delay: 800ms;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes animationFrames{
  0% {
    transform:  translate(0px,-50px);
    opacity: 0;
  }
  15% {
    transform:  translate(0px,-25px);
  }
  30% {
    transform:  translate(0px,0px);
  }
  45% {
    transform:  translate(0px,-15px);
    opacity: 1;
  }
  60% {
    transform:  translate(0px,0px);
    opacity: 1;
  }
  75% {
    transform:  translate(0px,-5px);
    opacity: 1;
  }
  100% {
    transform:  translate(0px,0px);
    opacity: 1;
  }
}

.button-content-animation {
  animation: animationFrames linear 0.8s;
  animation-iteration-count: 1;
  animation-delay: 1200ms;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes animationFrames{
  0% {
    transform:  translate(0px,-50px);
    opacity: 0;
  }
  15% {
    transform:  translate(0px,-25px);
  }
  30% {
    transform:  translate(0px,0px);
  }
  45% {
    transform:  translate(0px,-15px);
    opacity: 1;
  }
  60% {
    transform:  translate(0px,0px);
    opacity: 1;
  }
  75% {
    transform:  translate(0px,-5px);
    opacity: 1;
  }
  100% {
    transform:  translate(0px,0px);
    opacity: 1;
  }
}

.filter-error-container {
  height: 100vh;
}

.no-entries {
  transform: translateY(-25%);
  font-size: 2rem;
  color: white;

}
