* {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-color:#67D4D2 ;
}

/* Nav bar  */
.header{
  position: sticky;
  top: 0;
  width: 100%;
}
.nav-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #5FC2C1;
  /* -webkit-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.72);
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.72); */
}

.arrow-container {
  margin-top: 10px;
  margin-left: 15px;
}

.burger-container {
  margin-top: 10px;
  margin-right: 15px;
}

.nav-title {
  color: #67D4D2;
}


/*--------*/


/* Entry List aka Home feed */
.entry-list-time  {
  font-size: 1.3rem;
}

/*--------*/

.card-container{
  border: solid 5px rgb(105, 105, 105);
  border-width: thin;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}


/* Card Item  */

.entry-list-item-mood {
  width:  40px;
}

.card-container {
  padding-bottom: 5%;
}

.menu-container {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
  margin-top: 5px;
}

.info-container{
  display: flex;
  margin-left: 25px;
}

.image-container{
  margin-right: 5%;
  margin-left: -10px;
}

.note-container {
  width: 75%;
}

.event-with {
  font-size: 12px;
  color: #7B7B7B;
}

span {
  color: #67D4D2 ;
}

p {
  margin-top: 5px;
  margin-bottom: 5%;
}

/*--------*/

/* Bottom nav */

.nav {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  border-top: 2px solid #5FC2C1;
}
.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.add-entry-button {
  position: relative;
  top: -10px;
}

.button-icon  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  width: 61px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid #5FC2C1;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}

/*--------*/


/* Entry Form date and mood */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.date {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.add-field-container  {
  margin-left: auto;
}

.add-field  {
  width: 100vw;
  align-items: center;
  margin-bottom: 20px;
}

.add-field-text {
  color: white;
  font-size: 1.25rem;
}

.date-and-mood  {
  margin-top: 30px;
  justify-content: center;
}

.h1-form  {
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.entry-date-container {
  display: flex;
  /* align-items: center; */
}

.date-choice, .time-choice  {
  display: flex;
  align-items: center;
}

.time-choice  {
  margin-left: 15px;
}

.mood-chooser {
  background-color: white;
  justify-content: space-around;
  padding: 10px 0;
  margin: 30px 0px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}

.mood-svg {
  max-height: 55px;
  /* margin-left: 10px; */
}

.laugh  {
  color: #FFB800;
  fill: green;
}

.smile  {
  color: #24FF00;
}

.meh  {
  color: #414141;

}

.frown {
  color: #3A89FF;
}

.angry  {
  color: #FF0000;
}

/* event journal */
.participants-container {
  width: 100%;
  padding-top: 1rem;
  margin-top: 30px;
  min-height: 150px;
  background-color: white;
  border-width: thin;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: solid 1px rgba(105, 105, 105, 0.25);
    -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}
.participants-submit {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.participants-input {
  width: 90%;
  height: 40%;
  border-radius: 10px;
  border: 1px solid #B9B9B9;
  box-shadow: inset 1px 1px 0px 0px #B9B9B9;
}
.notes-container {
  width: 100%;
  padding-top: 1rem;
  margin-top: 30px;
  min-height: 150px;
  background-color: white;
  border-width: thin;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: solid 1px rgba(105, 105, 105, 0.25);
    -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}
.notes-submit {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.notes-input {
  width: 90%;
  height: 40%;
  border-radius: 10px;
  border: 1px solid #B9B9B9;
  box-shadow: inset 1px 1px 0px 0px #B9B9B9;
}
.event-container{
  width: 100%;
  /* margin-top: 30px; */
  background-color: white;
  border-width: thin;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border: solid 1px rgba(105, 105, 105, 0.25);
    -webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.25);
}

.svg-icons {
  width: 20px;
  margin-left: 15px;
  margin-top: 10px;
}

h6 {
  margin-left: 10px;
}

.hobbie-container {
  padding-top: 10px;
  margin-left: 10px;
}

.social-container {
  margin-top: 20px;
  margin-left: 10px;
}

.check-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 15px;
}


/* Modal styling */

.modal-header{
  display: flex;
  justify-content: center;
}

.modal-body {
  display: flex;
  justify-content: center;
  margin-right: 15px;
  padding: 0%;
  margin-top: 10px;
}

h6 {
  margin-left: 15px;
}

h6:hover {
  background-color: #67d4d2 ;
  border-radius: 10px;
  padding: 3px;
}

.modal-title {
  color: #67D4D2 ;
}

.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    transition: all .8s;
    width:90%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.modal-footer {
  justify-content: center;
}

.drop-title {
  text-align: center;
  margin-right: 10px ;
    color: #67D4D2 ;
    margin-top: 10px;
}

.mood-modal {
  max-height: 35px;
  margin-left: 20px;
}

.mood-modal:hover {
  background-color: #67d4d2 ;
  border-radius: 10px;
  padding: 3px;
}

.modal-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.select-modal  {
  width: 200px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: white;
  outline: none;
}

/* -------- */
